<header class="site-header bg-light" role="banner">
  <nav class="wrapper navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand bolder fs-3" href="{{ "/" | relative_url }}"><div class="bg-primary py-0 px-2 text-white rounded-pill">Dev En Devenir</div></a>
      <ul class="navbar-nav mr-auto d-flex flex-row">
        <li class="nav-item">
          <select class="form-select fs-5 px-2 nav-link" onchange="location = this.value;">
            <option selected>Catégories</option>
            {% assign categories = site.categories | sort %} {% for category in categories
              %} {% capture category_name %}{{ category | first }}{% endcapture %}
            <option value="{{ site.url }}/category/{{ category_name | slugize }}">{{ category_name | capitalize }}</option>
  {% endfor %}
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 px-2" href="{{site.url}}/about">À propos</a>
        </li>
      </ul>
      </form>
    </div>
  </nav>
</header>
